/*Body Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

main {
  width: 1600px;
}

/* Shared Styles */
.font-inter-sans {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.font_color {
  color: #001931;
}

.icon_gap1 {
  margin-left: 10px;
}

.icon_gap2 {
  margin-right: 10px;
}

.color-green {
  color: #469165;
}

/* Navigation Styles */
#header {
  width: 1360px;
  margin: 0px auto;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}

.menu ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

.menu ul li a:hover {
  color: #469165;
  cursor: pointer;
  border-bottom: 2px solid #469165;
  padding-bottom: 2px;
}

.navbar_btn {
  background-color: #469165;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 12.5px 16px;
  border: 1px solid #469165;
  border-radius: 5px;
}

.navbar_btn:hover {
  background-color: transparent;
  color: #469165;
  border: 1px solid #469165;
  cursor: pointer;
}

/* Banner Styles */
#banner {
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.banner_content {
  width: 770px;
  margin: 0px auto;
  text-align: center;
  padding: 115.5px 0px 179.5px 0px;
}

.banner_title {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.banner_title h2 {
  font-size: 16px;
  font-weight: 500;
  color: #469165;
  background-color: #fff;
  padding: 8px 0px;
  border-radius: 1000px;
  width: 229px;
}

.banner_content h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  color: #fff;
  margin-bottom: 16px;
}

.banner_content p {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 32px;
}

.btn_primary {
  background-color: #469165;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 16.5px 16px;
  border: 1px solid #469165;
  border-radius: 5px;
}

.btn_primary:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.btn_secondary {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 16.5px 16px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-left: 16px;
}

.btn_secondary:hover {
  background-color: transparent;
  color: #469165;
  border: 1px solid #469165;
  cursor: pointer;
}

/* About Section Styles */
.about_container {
  width: 1360px;
  margin: 0px auto;
  text-align: center;
  margin-top: 65px;
}

.about_heading h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

.about_heading p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 44px;
}

.about_box {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.about_card {
  padding: 0px 24px;
  box-shadow: 0 0px 8px 0 #00000011;
  border-radius: 8px;
}

.about_card img {
  background-color: #f95555;
  padding: 14px;
  border-radius: 100%;
  margin-top: 69.5px;
}

.about_card h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 16px auto;
}

.about_card p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 55px;
}

/* Solution Section Styles */
#solution {
  display: flex;
  justify-content: center;
}

.solution_container {
  width: 1360px;
  margin: 120px 0px;
  display: flex;
  gap: 60px;
}

.solution-IMAGE img {
  border-radius: 12px;
}

.solution_content {
  margin-top: 102px;
  width: 515px;
}

.solution_content h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.solution_content h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

.solution_content p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}

.solution_point {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 16px;
}

/* Thinking Section Styles */
.thinking_container {
  width: 1360px;
  margin: 0px auto;
  text-align: center;
  background-color: #f7f6f2;
  padding: 80px 0px;
  border-radius: 12px;
  margin-bottom: 120px;
}

.thinking_container h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
}

.thinking_container p {
  font-size: 16px;
  line-height: 24px;
  color: #627382;
}

.thinking_btn {
  padding: 24px 0px 16px 0px;
}

.btn_third {
  background-color: #469165;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 16.5px 16px;
  border: 1px solid #469165;
  border-radius: 5px;
}

.btn_third:hover {
  background-color: transparent;
  color: #469165;
  border: 1px solid #469165;
  cursor: pointer;
}

/* Footer Styles */
#footer {
  background-color: #001931;
  padding-top: 40px;
}

.footer_container {
  width: 1360px;
  margin: 0px auto;
}

.footer_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0px;
  border-bottom: 1px solid #4c4c4d;
}

.footer_links h2 {
  margin-bottom: 16px;
  color: #fff;
}

.footer_links ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

.footer_links ul li a {
  font-size: 20px;
  color: #fff;
}

.footer_copyright {
  text-align: center;
}

.footer_copyright p {
  padding: 30px 0px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

/* End of Styles */
